	<ion-header>
		<ion-toolbar>
			<ion-icon slot="start" name="arrow-back" (click)="goBack()"></ion-icon>
			<ion-title>{{content.label}}</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-img [src]="content.img" *ngIf="content.img">
	</ion-img>
	<ion-content >
		<ng-container *ngFor="let item of content.directory">
			<ion-item (click)="goToDirectory(item.id)" *ngIf="item.directory">
				<ion-label class="label" color="primary">{{item.label}}</ion-label>
				<ion-icon slot="end" color="medium" name="arrow-forward"></ion-icon>
			</ion-item>
			<ion-item (click)="goToVideoPlay(item.id)" *ngIf="!item.directory">
				<div>
					<ion-label class="label" color="primary">{{item.label}}</ion-label>
					<ion-label class="speaker" color="secondary">{{item.speaker}}</ion-label>
				</div>
				<ion-label class="date" color="medium">{{item.date}}</ion-label>
				<ion-icon slot="end" color="medium" name="arrow-forward"></ion-icon>
			</ion-item>
		</ng-container>
	</ion-content>



