<ion-content>
	<app-map #map [latitude]="locationService.currentLocation.latitude"
					 [longitude]="locationService.currentLocation.longitude"
	></app-map>

	<app-cell-marker color='blue' *ngFor="let c of church.cellGroups.data" [map]="map.map" [cellGroup]="c"
	></app-cell-marker>

	<app-church-marker [map]="map.map" [church]="church.church"></app-church-marker>

	<ion-fab vertical="top" horizontal="start" slot="fixed">
		<ion-fab-button size="small" color="light">
			<ion-menu-button color="tertiary"></ion-menu-button>
		</ion-fab-button>
	</ion-fab>

	<ion-fab vertical="bottom" horizontal="center" slot="fixed">
		<ion-fab-button color="tertiary" (click)="nav.navigateRoot('')">
			<ion-icon name="locate"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>
