<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/account/welcome"></ion-back-button>
		</ion-buttons>
		<ion-title>Sign Up</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<form (submit)="onSubmit()">
		<div class="formControl" [ngStyle]="emailErrors && {'color': 'red'}">
			<ion-input type="email" [(ngModel)]="account.email"	name="email" placeholder="Email" (focus)="clearErrors()" autofocus required></ion-input>
			<div *ngIf="emailErrors" class="error">{{emailErrors}}</div>
		</div>
		<div class="formControl" [ngStyle]="passwordErrors && {'color': 'red'}">
			<ion-input type="password" [(ngModel)]="account.password"	name="password" placeholder="Password" (focus)="clearErrors()" required minlength="8"></ion-input>
			<div *ngIf="passwordErrors" class="error">{{passwordErrors}}</div>
		</div>
		<div class="formControl" [ngStyle]="retypedPasswordErrors && {'color': 'red'}">
			<ion-input type="password" [(ngModel)]="retypedPassword"	name="password" placeholder="Repeat Password" (focus)="clearErrors()" required minlength="8"></ion-input>
			<div *ngIf="retypedPasswordErrors" class="error">{{retypedPasswordErrors}}</div>
		</div>
		<br>
		<br>
		<br>
		<ion-button type="submit" size="large" [disabled]="!account.email" color="primary" expand="block" fill="solid">
			<strong>Next</strong>
		</ion-button>
	</form>

	<div>Already a member?</div>
	<ion-button color="primary" expand="block" fill="clear" (click)="nav.navigateRoot('/account/login')">
		<strong>Login</strong>
	</ion-button>

</ion-content>
