<ion-header>
</ion-header>

<ion-content padding color="tertiary">
	<ion-text>
		<h1>Kia Ora, hello!</h1>
		<p>Welcome to Abundant Life Church</p>
	</ion-text>

	<ion-card no-padding color="light">
		<ion-card-header>
				<ion-card-title>Sign Up</ion-card-title>
		</ion-card-header>

		<ion-card-content padding>
				<div>
					<ion-input type="text" [color]="nameErrors ? 'red' : 'primary'" [(ngModel)]="name"	name="name" placeholder="Your name" (focus)="clearErrors()" required></ion-input>
					<div *ngIf="phoneErrors" class="error">{{phoneErrors}}</div>
				</div>
				<br/>
				<div>
					<ion-input type="number" pattern="[0-9]*" [color]="phoneErrors ? 'red' : 'primary'" [(ngModel)]="phone"	name="phone" placeholder="Phone number" (focus)="clearErrors()" required></ion-input>
					<div *ngIf="phoneErrors" class="error">{{phoneErrors}}</div>
				</div>
			<br/>
			<br/>
				<ion-toolbar>
					<ion-checkbox slot="start" [(ngModel)]="needRide"></ion-checkbox>
					<ion-label padding slot="start" color="primary">I need a ride to there</ion-label>
				</ion-toolbar>
		</ion-card-content>
	</ion-card>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-grid>
			<ion-row>
				<ion-col col-6>
						<ion-button color="secondary" expand="block" fill="outline" shape="round" (click)="modalController.dismiss()">
								<ion-icon name="close-circle"></ion-icon> Close
						</ion-button>
				</ion-col>
				<ion-col col-6>
						<ion-button color="primary" expand="block" fill="outline" shape="round" (click)="modalController.dismiss()">
								<ion-icon name="checkmark-circle"></ion-icon> OK
						</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-footer>

