<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Sign Up</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
		<div class="formControl" [ngStyle]="firstNameErrors && {'color': 'red'}">
			<ion-input type="text" [(ngModel)]="account.firstName"	name="firstName" placeholder="First name" (focus)="clearErrors()" autofocus required></ion-input>
			<div *ngIf="firstNameErrors" class="error">{{firstNameErrors}}</div>
		</div>
		<div class="formControl" [ngStyle]="lastNameErrors && {'color': 'red'}">
			<ion-input type="text" [(ngModel)]="account.lastName"	name="lastName" placeholder="Last name" (focus)="clearErrors()" required></ion-input>
			<div *ngIf="lastNameErrors" class="error">{{lastNameErrors}}</div>
		</div>
		<div class="formControl" [ngStyle]="phoneNumberErrors && {'color': 'red'}">
			<ion-input type="text" [(ngModel)]="account.phoneNumber"	name="phone" placeholder="Phone number" (focus)="clearErrors()" required></ion-input>
			<div *ngIf="phoneNumberErrors" class="error">{{phoneNumberErrors}}</div>
		</div>
		<br>
		<br>
		<br>
		<ion-button type="submit" size="large" [disabled]="!account.firstName" color="primary" expand="block" fill="solid" (click)="onSubmit()">
			<strong>Sign up</strong>
		</ion-button>

</ion-content>
