
 <ion-header >
	<ion-icon class="top-left primary-icon" name="arrow-back" (click)="nav.back()"></ion-icon>
	<ion-label class="top-middle" style="color: whitesmoke;">{{host.address}}</ion-label>
</ion-header>

<ion-content>
	<ion-img class="start" src='/assets/parking.jpg'></ion-img>

	<div style="margin-top: 192px;">
	</div>

	<ion-card *ngIf="order" style="background-color: white; border-radius: 0;" color="light">
			<div>
					<ion-item (click)="expandAvailibility = !expandAvailibility" text-wrap>
						<div style="padding: 10px 5px;">
							<div color="danger">
								<span  style="color:red;"><strong>NOTE:</strong></span>
								<span style="color:grey; padding: 0 5px;">Please check operating hours</span>
							</div>
							<span style="font-style: 600px;text-align:left;"><strong>{{currentRange}}</strong></span>
						</div>
						<ion-buttons slot="end">
							<ion-icon name="arrow-round-forward" color="primary" size="large"></ion-icon>
						</ion-buttons>
					</ion-item>

					<div class="block-noshadow" *ngIf="expandAvailibility">
						<div *ngFor="let day of days" class="day" style="color:grey;">
							<div class="name">{{day.name}}</div>
							<div class="range">{{day.range}}</div>
						</div>
					</div>
			</div>

			<div style="display: flex; flex-direction: column; align-items: center;	justify-content: stretch;	padding: 5px;">
				<ion-button *ngIf="order?.state === 'Ordered'" style="width: 100%; box-shadow:darkblue; --border-radius: 2px;" color="primary" (click)="openParkingConfirmation()">Start Parking</ion-button>
				<ion-button *ngIf="order?.state === 'Ordered'" color="primary" style="width: 100%;" (click)="cancelReservation()">Cancel Reservation</ion-button>
				<ion-button *ngIf="order?.state ==='Confirmed'" color="danger" style="width: 100%;" (click)="stopParking()">Stop Parking</ion-button>
				<ion-button color="light" style="width: 100%;" (click)="haveProblem()">I have a problem</ion-button>
			</div>

			<div class="border-top text" *ngIf="order?.state ==='Ordered'">
				<div class="label">Time Elapsed:</div>
				<div>{{timeElapsed}}</div>
			</div>

			<div class="line border-top" style="justify-content: space-around" *ngIf="order?.state ==='Confirmed' || order?.state ==='Done'">
				<div class="multi-line">
					<div class="label">Time Elapsed</div>
					<div>{{timeElapsed}}</div>
				</div>
				<div class="multi-line">
					<div class="label">Total</div>
					<div>${{parkingCharged}} NZD</div>
				</div>
			</div>
	</ion-card>

	<ion-card style="background-color: white; border-radius: 0;" color="light">
		<ion-card-header style="display: flex; 	align-items: center;	justify-content: start;	padding: 10px 20px;" >
			<ion-icon class="card-icon" color="light" name="car"></ion-icon>
			<ion-card-title style="vertical-align: middle; padding: 0 10px;">Details</ion-card-title>
		</ion-card-header>

		<div *ngIf="!order" >
			<ion-item (click)="expandAvailibility = !expandAvailibility" text-wrap>
				<div style="padding: 10px 5px;">
					<div color="danger">
						<span  style="color:red;"><strong>NOTE:</strong></span>
						<span style="color:grey; padding: 0 5px;">Please check operating hours</span>
					</div>
					<span style="font-style: 600px;text-align:left;"><strong>{{currentRange}}</strong></span>
				</div>
				<ion-buttons slot="end">
					<ion-icon name="arrow-round-forward" color="primary" size="large"></ion-icon>
				</ion-buttons>
			</ion-item>

			<div class="block-noshadow" *ngIf="expandAvailibility">
				<div *ngFor="let day of days" class="day" style="color:grey;">
					<div class="name">{{day.name}}</div>
					<div class="range">{{day.range}}</div>
				</div>
			</div>
		</div>

		<div *ngIf="!order" style="display: flex; flex-direction: column; align-items: center;	justify-content: stretch;	padding: 5px;">
				<ion-button style="width: 100%; box-shadow:darkblue; --border-radius: 3px;" color="primary" [disabled]="order || !host.availableBays" (click)="openParkingConfirmation()">Start Parking</ion-button>
				<ion-button style="width: 100%;" color="light" [disabled]="order || !host.availableBays" (click)="openReservingConfirmation()">Reserve Park</ion-button>
		</div>

		<div class="line border-top" style="justify-content: space-around">
			<div class="multi-line">
				<span class="label">Price per hour <a style="color: blue">?</a></span>
				<span style="color: black">{{hourlyPrice}}</span>
			</div>
			<div class="multi-line">
				<span class="label">Max price per day <a style="color: blue">?</a></span>
				<span style="color: black">{{dailyPrice}}</span>
			</div>
		</div>

		<ng-container *ngIf="order">
			<div class="line border-top">
				<div class="multi-line">
					<div class="label">Selected vehicle</div>
					<div class="plate-number">{{currentUser.plateNumbers}}</div>
				</div>
				<ion-buttons slot="end">
					<ion-icon name="arrow-round-forward" color="primary" size="large"></ion-icon>
				</ion-buttons>
			</div>

			<div class="line border-top">
				<div class="multi-line">
					<div class="label">Credit Card</div>
					<div>{{currentUser.creditCards}}</div>
				</div>
				<ion-buttons slot="end">
					<ion-icon name="arrow-round-forward" color="primary" size="large"></ion-icon>
				</ion-buttons>
			</div>

			<ng-container *ngIf="order?.state === 'Confirmed' || order?.state === 'Done'">
				<div class="multi-line" style="padding: 10px;">
					<div class="label">Session started:</div>
					<div>{{sessionStarted}}</div>
				</div>

				<div class="multi-line" style="padding: 10px;">
					<div class="label">Session ended:</div>
					<div>{{sessionEnded}}</div>
				</div>
			</ng-container>

		</ng-container>

	</ion-card>

	<div class="block-noshadow">
		<div class="caption">Parking Instructions</div>
		<div class="text">{{host.parkingInstructions}}</div>
	</div>

	<ion-card *ngIf="!order" style="display: flex; justify-content: space-between;	padding: 10px; " >
		<ion-buttons>
			<ion-icon class="green-icon" style="font-size: 24px" name="pin"></ion-icon>
		</ion-buttons>

		<div text-wrap style="padding: 0 10px;" >
			<span class="label">Location</span>
			<span style="color: black;">{{host.address}}</span>
		</div>

		<ion-buttons>
			<ion-icon class="icon" style="font-size: 24px" name="arrow-forward"></ion-icon>
		</ion-buttons>

	</ion-card>

</ion-content>
