ion-content {
	--background: #233151;
}

.prompt {
	color: whitesmoke;
	text-align: center;
	padding: 30px;
}

.price-list {
	display: flex;
	flex-flow: row wrap;
	align-content:center;
	justify-content: space-around;
}

.round {
	margin: 20px;
	padding: 4px;
}

.price-zone {
	display: flex;
	flex-direction: column;
}

.price-label {
	font-size: 0.9rem;
}

.price-value {
	font-size: 0.9rem;
	font-weight: bold;
}

.next-buttons {
	display: inline-flex;
}

.next-icon {
	font-size: 2.25rem;
}

.valid-icon {
	font-size: 1.5rem;
	background-color: limegreen;
	color: white;
	margin: 0 10px;
	padding: 5px;
	border-radius: 50%;
}

.invalid-icon {
	font-size: 2.25rem;
	color: lightgrey;
	margin: 0 10px;
}