<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->

<ion-app>
  <ion-split-pane>
    <ion-menu side="end">
      <ion-header padding>
          <img src="assets/logoBanner.png">
      </ion-header>
      <ion-content>
        <ng-container *ngFor="let group of menuGroups">
					<ion-item>
							{{group.label}}
					</ion-item>
					<ion-menu-toggle auto-hide="false" *ngFor="let menuItem of group.menuItems">
            <ion-item (click)="nav.navigateForward(menuItem.url)">
              <ion-icon slot="start" [name]="menuItem.icon"></ion-icon>
              <ion-label color="primary" >
                {{menuItem.label}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ng-container>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
