<ion-header>
  <ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/home"></ion-back-button>
		</ion-buttons>
		<ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ng-template #validIcon>
	<ion-icon style="padding: 5px;" name="checkmark-circle" size="large" color="success"></ion-icon>
</ng-template>

<ng-template #invalidIcon>
	<ion-icon style="color: lightgray; padding: 5px;" name="close-circle-outline"size="large"></ion-icon>
</ng-template>


<ion-content>

	<ion-item>
		<ion-buttons slot="start"  *ngIf="accountService.currentUser?.givenName; then validIcon else invalidIcon">
		</ion-buttons>
		<div class="content">
			<ion-label color="medium">Given name:	</ion-label>
			<ion-input class="field" type="text" readonly [(ngModel)]="accountService.currentUser.givenName"></ion-input>
		</div>
		<ion-buttons slot="end">
			<ion-icon name="arrow-round-forward" color="primary" size="large"></ion-icon>
		</ion-buttons>
	</ion-item>

	<ion-item>
		<ion-buttons slot="start"  *ngIf="accountService.currentUser?.familyName; then validIcon else invalidIcon">
		</ion-buttons>
		<div class="content">
			<ion-label color="medium">Family name:	</ion-label>
			<ion-input class="field" type="text" readonly [(ngModel)]="accountService.currentUser.familyName"></ion-input>
		</div>
		<ion-buttons slot="end">
			<ion-icon name="arrow-round-forward" color="primary" size="large"></ion-icon>
		</ion-buttons>
	</ion-item>

	<ion-item>
		<ion-buttons slot="start"  *ngIf="accountService.currentUser?.preferName; then validIcon else invalidIcon">
		</ion-buttons>
		<div class="content">
			<ion-label color="medium">Prefer name:	</ion-label>
			<ion-input class="field" type="text" readonly [(ngModel)]="accountService.currentUser.preferName"></ion-input>
		</div>
		<ion-buttons slot="end">
			<ion-icon name="arrow-round-forward" color="primary" size="large"></ion-icon>
		</ion-buttons>
	</ion-item>

	<ion-item>
		<ion-buttons slot="start"  *ngIf="accountService.currentUser?.phoneNumber; then validIcon else invalidIcon">
		</ion-buttons>
		<div class="content">
			<ion-label color="medium">Phone number:	</ion-label>
			<ion-input class="field" type="text" readonly [(ngModel)]="accountService.currentUser.phoneNumber"></ion-input>
		</div>
		<ion-buttons slot="end">
			<ion-icon name="arrow-round-forward" color="primary" size="large"></ion-icon>
		</ion-buttons>
	</ion-item>

</ion-content>

<ion-toolbar>
	<ion-grid>
		<ion-row>
			<ion-col col-6>
				<ion-button color="primary" expand="block" fill="outline" shape="round">
					<ion-ripple-effect></ion-ripple-effect>Teams of Service
				</ion-button>
			</ion-col>
			<ion-col col-6>
				<ion-button color="primary" expand="block" fill="outline" shape="round" (click)="logout()">
					<ion-ripple-effect></ion-ripple-effect>Log Out
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-toolbar>
