.field {
	font-size: 0.9rem;
	font-weight: bold;
	--padding-top: 0;
}

ion-label {
	padding-top: 10px;
	font-size: 0.9rem;
}

ion-button {
	font-size: 0.9rem;
	font-weight: bold;
}

.content {
	width: 100%;
}

