<ion-header>
  <ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/home"></ion-back-button>
		</ion-buttons>
		<ion-title>Create Carpark</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item lines="none" (click)="nav.navigateForward('/create-park/location-input')">
		<ng-container *ngIf="carpark?.address; then validIcon else invalidIcon"></ng-container>
		<div>
			<ion-label color="medium" style="font-size: 0.9rem;">Location</ion-label>
			<ion-label *ngIf="carpark?.address" color="dark" style="font-size: 0.9rem;"> {{carpark?.address}}</ion-label>
		</div>
		<ion-icon slot="end" style="font-size: 2rem;" color="primary" name="arrow-forward"></ion-icon>
	</ion-item>

	<ion-item lines="none" (click)="nav.navigateForward('/create-park/price-per-hour')">
		<ng-container *ngIf="carpark?.hourlyPrice; then validIcon else invalidIcon"></ng-container>
		<div>
			<ion-label color="medium" style="font-size: 0.9rem;">Price per hour</ion-label>
			<ion-label *ngIf="carpark?.hourlyPrice" color="dark" style="font-size: 0.9rem;"> ${{carpark?.hourlyPrice}}</ion-label>
		</div>
		<ion-icon slot="end" style="font-size: 2rem;" color="primary" name="arrow-forward"></ion-icon>
	</ion-item>

	<ion-item lines="none" (click)="nav.navigateForward('/create-park/price-per-day')">
		<ng-container *ngIf="carpark?.dailyPrice; then validIcon else invalidIcon"></ng-container>
		<div>
			<ion-label color="medium" style="font-size: 0.9rem;">Price per day</ion-label>
			<ion-label *ngIf="carpark?.dailyPrice" color="dark" style="font-size: 0.9rem;"> ${{carpark?.dailyPrice}}</ion-label>
		</div>
		<ion-icon slot="end" style="font-size: 2rem;" color="primary" name="arrow-forward"></ion-icon>
	</ion-item>

	<ion-item lines="none" (click)="nav.navigateForward('/create-park/bays')">
		<ng-container *ngIf="carpark?.bays; then validIcon else invalidIcon"></ng-container>
		<div>
			<ion-label color="medium" style="font-size: 0.9rem;">Bays</ion-label>
			<ion-label *ngIf="carpark?.bays" color="dark" style="font-size: 0.9rem;"> {{carpark?.bays}}</ion-label>
		</div>
		<ion-icon slot="end" style="font-size: 2rem;" color="primary" name="arrow-forward"></ion-icon>
	</ion-item>

	<ion-item lines="none" (click)="nav.navigateForward('/create-park/operating-hours')">
		<ng-container *ngIf="carpark?.operatingHours; then validIcon else invalidIcon"></ng-container>
		<div>
			<ion-label color="medium" style="font-size: 0.9rem;">Operating hours</ion-label>
			<ion-label *ngIf="carpark?.operatingHours" color="dark" style="font-size: 0.9rem; border: 1px solid grey;">{{carpark.operatingHours}} days</ion-label>
		</div>
		<ion-icon slot="end" style="font-size: 2rem;" color="primary" name="arrow-forward"></ion-icon>
	</ion-item>

	<ion-item lines="none" (click)="nav.navigateForward('/create-park/photos')">
		<ng-container *ngIf="carpark?.photoIds; then validIcon else invalidIcon"></ng-container>
		<div>
			<ion-label color="medium" style="font-size: 0.9rem;">Photos</ion-label>
			<ion-label *ngIf="carpark?.photoIds" color="dark" style="font-size: 0.9rem; border: 1px solid grey;">{{carpark.photoIds.length}}</ion-label>
		</div>
		<ion-icon slot="end" style="font-size: 2rem;" color="primary" name="arrow-forward"></ion-icon>
	</ion-item>

	<ion-item lines="none" (click)="nav.navigateForward('/create-park/parking-instructions')">
		<ng-container *ngIf="carpark?.parkingInstructions; then validIcon else invalidIcon"></ng-container>
		<div>
			<ion-label color="medium" style="font-size: 0.9rem;">Parking Instructions</ion-label>
			<ion-label *ngIf="carpark?.parkingInstructions" color="dark" style="font-size: 0.9rem; border: 1px solid grey;">{{carpark.parkingInstructions}}</ion-label>
		</div>
		<ion-icon slot="end" style="font-size: 2rem;" color="primary" name="arrow-forward"></ion-icon>
	</ion-item>

	<ion-item lines="none" (click)="nav.navigateForward('/create-park/account-paid')">
		<ng-container *ngIf="carpark?.accountPaid; then validIcon else invalidIcon"></ng-container>
		<div>
			<ion-label color="medium" style="font-size: 0.9rem;">Account (get paid)</ion-label>
			<ion-label *ngIf="carpark?.accountPaid" color="dark" style="font-size: 0.9rem; border: 1px solid grey;">{{carpark.accountPaid}}</ion-label>
		</div>
		<ion-icon slot="end" style="font-size: 2rem;" color="primary" name="arrow-forward"></ion-icon>
	</ion-item>

	<ion-button style="width: 100%; padding:10px; height: 4.5rem;" [disabled]="!dataReady" (click)="createCarPark()">Create car park</ion-button>

</ion-content>




<ng-template #validIcon>
	<ion-icon slot="start" style="font-size: 2.25rem; color: limegreen" name="checkmark-circle"></ion-icon>
</ng-template>

<ng-template #invalidIcon>
	<ion-icon slot="start" style="font-size: 2.25rem; color: lightgrey" name="alert"></ion-icon>
</ng-template>
