// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

ion-content {
    font-family: 'Montserrat';
}

@media (min-height: 800px) {
	.modal-css .modal-wrapper {
		height: 90%;
		top: 5%;
		position: absolute;
		display: block;
	}
}

.valid-icon {
	font-size: 1.5rem;
	background-color: limegreen;
	color: white;
	margin: 0 10px;
	padding: 5px;
	border-radius: 50%;
}

.invalid-icon {
	font-size: 2.25rem;
	color: lightgrey;
	margin: 0 10px;
}
