
p {
    font-size: 3em;
    color: #565656;
    width: 100%;
    text-align: center;
}


ion-input {
    color: white;
}

ion-toolbar {
    background: black;
}

.top {
    margin: 0px;
}

.parking-note {
	font: outline;
	color: red;
	background-color: transparent;
	border: 1px solid red;
	margin: auto;
	display: inline-block;
}
