<ion-content>
	<app-map #map [latitude]="locationService.currentLocation.latitude"
					 [longitude]="locationService.currentLocation.longitude"
	></app-map>

	<app-marker *ngFor="let c of parkableService.carParks.data" [map]="map.map" [carpark]="c"
	></app-marker>

<ion-fab vertical="top" horizontal="start" slot="fixed">
	<ion-fab-button color="danger">
		<ion-icon name="alarm"></ion-icon>
	</ion-fab-button>
</ion-fab>
<ion-fab vertical="top" horizontal="end" slot="fixed">
	<ion-menu-button color="tertiary"></ion-menu-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
	<ion-fab-button color="tertiary" (click)="nav.navigateForward('/home/help')">
	  <ion-icon name="contacts"></ion-icon>
	</ion-fab-button>
</ion-fab>

</ion-content>
