<ion-content padding color="dark">
	<div class="center">
		<h1>Kia Ora, hello!</h1>
		<p>Welcome to the future of parking</p>
	</div>

	<div padding>
		This PWA webapp is used to demo Stephen's skillset on Angular and .NET Core only.<br>
		<hr>
		All accounts and carparks are not true and used for demo purpose only.
		Please download and install real Parkable if you do need park your car or share your carpark.
		<hr>
		<hr>
		You are welcome to sign up a new account with your email or login directly with a pre-defined account.
	</div>
</ion-content>

<ion-toolbar>
	<ion-grid>
		<ion-row>
			<ion-col col-6>
				<ion-button color="primary" expand="block" fill="outline" shape="round" routerLink="/account/signup">
					<ion-ripple-effect></ion-ripple-effect>Sign Up
				</ion-button>
			</ion-col>
			<ion-col col-6>
				<ion-button color="primary" expand="block" fill="outline" shape="round" routerLink="/account/login">
					<ion-ripple-effect></ion-ripple-effect>Login
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-toolbar>

