<ion-content padding color="dark">
	<div>
		<h1>Kia Ora, hello!</h1>
		<p>Welcome to Abundant Life Church</p>
	</div>

	<div padding>
		<hr>
		Welcome to Abundant Life Church with all our warmly greetings. <br/>
		Just feel free to sign up today. <br/>
		* Please note we will help you when need a free ride to the church. <br/>
		<hr>
		<hr>
		This PWA is devloped by Stephen using Angular+Ionic and .NET Core.
	</div>
</ion-content>

<ion-toolbar>
	<ion-grid>
		<ion-row>
			<ion-col col-6>
				<ion-button color="primary" expand="block" fill="outline" shape="round" routerLink="/account/signup">
					<ion-ripple-effect></ion-ripple-effect>Sign Up
				</ion-button>
			</ion-col>
			<ion-col col-6>
				<ion-button color="primary" expand="block" fill="outline" shape="round" routerLink="/home">
					<ion-ripple-effect></ion-ripple-effect>Not now
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-toolbar>

