<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Operating hours</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div style="height:100%; display: flex; flex-direction: column; align-items: center; justify-content: center">
		<div color="white">Will this park be opening 24/7?</div>
		<div>
			<ion-button [color]="!twentyfourSeven? 'primary': 'secondary'" (click)= "twentyfourSeven = true;">Yes</ion-button>
			<ion-button [color]="twentyfourSeven? 'primary': 'secondary'" (click)= "twentyfourSeven = false;">No</ion-button>
		</div>
	</div>
</ion-content>


<ion-footer>
	<ion-toolbar>
	<ng-container *ngIf="true; then validIcon else invalidIcon"></ng-container>
		<ion-buttons slot="end" style="display: inline-flex;" color="primary">
			<ion-label color="primary">Next</ion-label>
			<ion-icon text="Next" name="arrow-round-forward" style="font-size: 2.25rem;" color="primary" (click)="nav.back()"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>

<ng-template #validIcon>
	<ion-icon slot="start" style="font-size: 2.25rem; color: limegreen" name="checkmark-circle"></ion-icon>
</ng-template>

<ng-template #invalidIcon>
	<ion-icon slot="start" style="font-size: 2.25rem; color: lightgrey" name="alert"></ion-icon>
</ng-template>
